/* Facebook Like Hand - Wordpres Plugin */

#flh-popup{
	background: url(../img/facebook-hand-big.png) no-repeat 0 0;
	height: 500px;
	left: 50%;
	margin: -250px 0 0 -250px;
	overflow: hidden;
	position: fixed;
	top: 50%;
	width: 500px;
	z-index: 99999;
}

.flh-popup-close{
	border: 0 solid #fff;
	display: block;
	height: 24px;
	position: absolute;
	right: 91px;
	text-indent: -9999px;
	top: 288px;
	width: 24px;
}

.flh-message{
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 20px;
	left: 108px;
	line-height: 28px;
	overflow: hidden;
	position: absolute;
	top: 322px;
	width: 220px;
}

.flh-iframe{
	height: 100px;
	overflow: hidden;
	position: absolute;
	right: 72px;
	top: 319px;
	width: 100px;
}

